* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 1400px;
  margin: auto;
}

.notification {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  background-color: #22252E;
  font-size: 1em;
  font-weight: 400;
  color: #889099;
}

.notification ul {
  display: flex;
}

.notification ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.notification ul li:last-child {
  margin-right: 0;
}

.notification ul .protection {
  font-weight: 700;
  color: #FF8D00;
  margin-left: 5px;
}

.notification ul .learn-btn {
  color: #FFFFFF;
  text-decoration: none;
}

.notification ul .learn-btn:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 60px 40px 200px;
  width: 1400px;
  margin: auto;
}

.header .logo {
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  cursor: pointer;
}

.header .menu ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.header .menu ul li {
  text-transform: uppercase;
  display: flex;
  font-weight: 500;
  font-size: 1.2em;
  align-items: center;
  margin-right: 30px;
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
}

.header .menu ul li:last-child {
  margin-right: 0;
}

.header .menu ul li:hover {
  cursor: pointer;
  border-bottom: 3px solid #4CB649;
}

.header .menu ul img {
  margin-left: 10px;
}

.header .header__btn a {
  text-transform: uppercase;
  padding: 11px 15px;
  text-align: center;
  border: 1px solid #4CB649;
  border-radius: 30px;
  color: #4CB649;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
}

.header .header__btn a:hover {
  color: #FFFFFF;
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
}

.header .header__btn #getStarted {
  padding: 11px 20px;
  margin-left: 10px;
}

.posts__item {
  border: 1px solid #D7D8D9;
  border-radius: 6px;
  box-shadow: 2px 3px 10px #D7D8D9;
  width: 1200px;
  margin: auto;
  display: flex;
}

.posts__item .item__image {
  background: url(img/bg-header.png);
  width: 600px;
  height: 400px;
  background-size: cover;
}

.posts__item .item__content {
  padding: 60px 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
}

.posts__item .item__content .item__text h3 {
  font-weight: 300;
  font-size: 2em;
  color: #22252E;
}

.posts__item .item__content .item__data .data-info {
  font-weight: 400;
  font-size: 1.2em;
  display: flex;
}

.posts__item .item__content .item__data .data-info .name {
  color: #323642;
}

.posts__item .item__content .item__data .data-info .date {
  color: #889099;
  margin-left: 8px;
}

.posts__item .item__content .item__data .data-links {
  display: flex;
}

.posts__item .item__content .item__data .data-links a {
  color: #4CB649;
  text-transform: uppercase;
  margin-top: 12px;
}

.posts__item .item__content .item__data .data-links a:hover {
  text-decoration: dashed;
}

.posts__item .item__content .item__data .data-comments {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.posts__item .item__content .item__data .data-comments .comment-number {
  color: #889099;
  margin-left: 12px;
}

.sub-header {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 21px 32px;
  background: #F7F7F7;
  border-radius: 4px;
  margin-top: 25px;
}

.sub-header a {
  color: #323642;
  text-transform: uppercase;
  margin-left: 43px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
}

.sub-header .tags {
  display: flex;
}

.sub-header .tags ul {
  list-style: none;
  display: flex;
}

.sub-header .tags ul li a {
  color: #4CB649;
}

.sub-header .tags ul li a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  width: 1400px;
  padding: 0 100px;
  margin: auto;
  margin-top: 40px;
}

.content .search-mob {
  display: none;
}

.content .posts {
  border-right: 1px solid #EBECED;
  width: 70%;
  padding-right: 60px;
  height: fit-content;
}

.content .posts h2 {
  color: #22252E;
  font-weight: 300;
  font-size: 2.7em;
}

.content .posts .posts__items {
  margin-top: 10px;
}

.content .posts .posts__items .posts__item {
  width: 100%;
  height: fit-content;
  padding-bottom: 30px;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #EBECED;
  box-shadow: none;
}

.content .posts .posts__items .posts__item .item__image {
  width: 280px;
  height: 180px;
}

.content .posts .posts__items .posts__item .item__content {
  padding: 0;
  padding-left: 40px;
}

.content .posts .posts__items .posts__item .item__content .item__text {
  justify-content: flex-start;
}

.content .posts .posts__items .posts__item .item__content .item__text h3 {
  font-weight: 300;
  font-size: 2em;
}

.content .posts .posts__items .posts__item .item__content .item__data {
  margin-top: 7px;
}

.content .posts .zimmer {
  background: url(img/Zimmer.png) no-repeat;
}

.content .posts .jayson {
  background: url(img/Jayson.png) no-repeat;
}

.content .posts .miller {
  background: url(img/Miller.png) no-repeat;
}

.olderPosts {
  display: block;
  width: fit-content;
  text-transform: uppercase;
  padding: 10px 120px;
  margin: auto;
  margin-top: 40px;
  text-decoration: none;
  color: #4CB649;
  border: 1px solid #4CB649;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1.2em;
}

.olderPosts:hover {
  color: #FFFFFF;
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
}

aside {
  padding-left: 60px;
  width: 30%;
}

aside .search {
  position: relative;
}

aside .search img {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 18px;
  left: 18px;
}

aside .search #searchInput {
  padding: 15px 0 15px 58px;
  border: 1px solid #D7D8D9;
  border-radius: 3px;
  font-weight: 300;
  font-size: 1.5em;
  width: 100%;
}

aside .aside-items .blog {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid #EBECED;
}

aside .aside-items .blog div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

aside .aside-items .blog div h3 {
  width: fit-content;
  font-weight: 300;
  font-size: 2em;
  margin-left: 20px;
}

aside .aside-items .blog ul {
  margin-top: 4px;
  list-style-type: none;
  margin-left: 10px;
}

aside .aside-items .blog ul li {
  position: relative;
  font-weight: 400;
  font-size: 1.2em;
  color: #323642;
  margin-top: 16px;
}

aside .aside-items .blog ul li:before {
  color: #4CB649;
  content: url(img/dot.png);
  width: 5px;
  position: absolute;
  top: 5px;
  left: -10px;
}

aside .aside-items .aside__item {
  margin-top: 32px;
}

aside .aside-items .bitmap {
  background: url(img/Bitmap.png) no-repeat;
  width: 340px;
  height: 454px;
  background-size: cover;
}

aside .aside-items .tags h3 {
  padding-top: 20px;
  font-weight: 300;
  font-size: 2em;
}

aside .aside-items .tags .screenshot {
  margin-top: 15px;
  background: url(img/screenshot.png) no-repeat;
  width: 324px;
  height: 309px;
  background-size: cover;
  margin-left: -10px;
}

.prices {
  width: 1400px;
  background-color: #22252E;
  padding: 100px 0 53px;
  margin: auto;
  margin-top: 73px;
}

.prices h2 {
  font-weight: 300;
  font-size: 4em;
  color: #FFFFFF;
  text-align: center;
}

.prices .h2-mob {
  display: none;
}

.prices .prices__cards {
  padding: 60px 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prices .prices__cards .prices__card {
  padding: 48px 90px 40px;
  margin: 0px 10px;
  width: 380px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.501961));
}

.prices .prices__cards .prices__card:nth-child(2) {
  padding: 68px 90px 60px;
  margin-top: -20px;
  outline: 4px solid #4CB649;
}

.prices .prices__cards .prices__card:first-child p {
  margin-top: 27px;
}

.prices .prices__cards .prices__card:first-child a {
  margin-top: 30px;
}

.prices .prices__cards .prices__card .period {
  font-weight: 500;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #323642;
}

.prices .prices__cards .prices__card img {
  width: 24px;
  height: 2px;
  margin-top: 12px;
}

.prices .prices__cards .prices__card .price {
  font-weight: 300;
  font-size: 4.7em;
  line-height: 38px;
  padding: 0 0 18px 24px;
  border-bottom: 1px solid #EBECED;
  width: 100%;
  text-align: left;
  position: relative;
  color: #22252E;
  margin-top: 16px;
}

.prices .prices__cards .prices__card .price::before {
  content: "$";
  display: block;
  font-weight: 300;
  position: absolute;
  top: -6px;
  left: 0;
  font-size: 24px;
  color: #22252E;
}

.prices .prices__cards .prices__card .price:after {
  content: "/mo.";
  display: block;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  right: 16px;
  font-size: 24px;
  color: #22252E;
}

.prices .prices__cards .prices__card p {
  margin-top: 27px;
  font-weight: 400;
  font-size: 1.2em;
  color: #323642;
  margin-top: 16px;
}

.prices .prices__cards .prices__card p .oldPrice {
  font-weight: 400;
  text-decoration-line: line-through;
  color: #F24458;
  margin-right: 8px;
}

.prices .prices__cards .prices__card .save {
  font-weight: 700;
  color: #22252E;
  margin-top: 4px;
}

.prices .prices__cards .prices__card a {
  text-decoration: none;
  text-align: center;
  padding: 11px 0;
  display: block;
  width: 220px;
  font-weight: 500;
  font-size: 1.2em;
  color: #4CB649;
  border: 1px solid #4CB649;
  border-radius: 100px;
  margin-top: 25px;
}

.prices .prices__cards .prices__card a:hover {
  background-color: #4CB649;
  color: #FFFFFF;
}

.prices .pay {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.prices .pay span,
.prices .pay img {
  margin: 0 8px;
}

.prices .pay span {
  font-weight: 400;
  font-size: 1.5em;
}

.prices .links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.prices .links a {
  margin: 0 20px;
  text-transform: uppercase;
  color: #4CB649;
  font-weight: 500;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.prices .links a img {
  margin-left: 12px;
}

.footer {
  padding: 85px 0 90px;
  width: 1200px;
  margin: auto;
}

.footer .logo {
  font-family: "Inter", sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  cursor: pointer;
}

.footer .footer__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.footer .footer__items .footer__item {
  width: fit-content;
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #889099;
  font-size: 1.2em;
  font-weight: 400;
}

.footer .footer__items .footer__item a {
  margin-bottom: 15px;
  text-decoration: none;
  color: #889099;
  font-weight: 400;
}

.footer .footer__items .footer__item a:first-child {
  color: #323642;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer .footer__items .footer__item p {
  font-weight: 400;
  margin-bottom: 36px;
  line-height: 22px;
}

.footer .footer__items .footer__item .info {
  font-size: 0.9em;
  line-height: 16px;
}

.footer .footer__items .learn {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 0;
}

.footer .footer__items .social {
  grid-column-start: 4;
  grid-row-start: 2;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 125px;
}

.footer .footer__items .company {
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer .footer__items .about {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.notification-mob {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 768px;
  }

  body .header-wrapper {
    width: 768px;
    margin: auto;
  }

  body .header-wrapper .notification {
    display: none;
  }

  body .header-wrapper .notification-mob {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 9px 20px;
  }

  body .header-wrapper .notification-mob div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  body .header-wrapper .notification-mob div .close {
    margin-bottom: 0;
  }

  body .header-wrapper .notification-mob div .protection {
    color: #FF8D00;
    margin-left: 4px;
  }

  body .header-wrapper .notification-mob div .learn-btn {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }

  body .header-wrapper .notification-mob .data {
    padding-right: 18px;
  }

  body .header {
    width: 768px;
    padding: 15px 11px;
    display: flex;
    align-items: center;
  }

  body .header .menu {
    display: none;
  }

  body .header .header__btn a {
    display: block;
  }

  body .header .header__btn #logIn {
    display: none;
  }

  body .posts__item {
    margin: auto;
    flex-direction: column;
    width: 728px;
    margin-top: 30px;
  }

  body .posts__item .item__image {
    width: 100%;
    height: 223px;
  }

  body .posts__item .item__content {
    padding: 30px 30px 15px;
    width: 100%;
  }

  body .posts__item .item__content .item__text {
    padding: 0;
    width: inherit;
  }

  body .posts__item .item__content .item__data {
    margin-top: 20px;
  }

  body .sub-header {
    display: none;
  }

  body .content {
    flex-direction: column;
    width: 768px;
    padding: 0 30px;
  }

  body .content .posts {
    border-right: none;
    width: 100%;
    padding-right: 0;
  }

  body .content .posts .posts__items .posts__item .item__image {
    background: url(img/bg-header.png);
    background-size: cover;
    width: 708px;
    height: 200px;
  }

  body .content .posts .posts__items .posts__item:nth-child(n+4) {
    display: none;
  }

  body .content .posts .posts__items .posts__item .item__content {
    padding: 0;
    margin-top: 20px;
  }

  body .content .posts .posts__items .posts__item .item__content .item__data .data-links {
    flex-wrap: wrap;
    margin-top: 12px;
  }

  body .content .posts .posts__items .posts__item .item__content .item__data .data-links a {
    margin-top: 3px;
  }

  body .content .posts .olderPosts {
    padding: 0;
    width: 708px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  body .content .search-mob {
    display: block;
    position: relative;
    margin-bottom: 40px;
  }

  body .content .search-mob img {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 18px;
    left: 18px;
  }

  body .content .search-mob #searchInput {
    padding: 15px 0 15px 58px;
    border: 1px solid #D7D8D9;
    border-radius: 3px;
    font-weight: 300;
    font-size: 1.5em;
    width: 100%;
  }

  .search {
    display: none;
  }

  aside {
    padding-left: 0;
    width: auto;
  }

  aside .aside-items {
    width: 708px;
  }

  .prices {
    width: 768px;
    padding: 60px 30px 40px;
  }

  .prices h2 {
    display: none;
  }

  .prices .h2-mob {
    display: block;
    font-size: 2.6em;
    font-weight: 300;
    text-align: center;
    line-height: 44px;
  }

  .prices .prices__cards {
    flex-direction: column;
  }

  .prices .prices__cards .prices__card {
    padding: 48px 53px 40px;
    margin: 0;
    margin-bottom: 20px;
    width: auto;
  }

  .prices .prices__cards .prices__card .price {
    text-align: center;
  }

  .prices .prices__cards .prices__card .price:before {
    left: 240px;
  }

  .prices .prices__cards .prices__card .price:after {
    right: 185px;
  }

  .prices .prices__cards .prices__card:nth-child(2) {
    padding: 48px 53px 40px;
    margin-top: 0;
    outline: 4px solid #FF8D00;
  }

  .prices .prices__cards .prices__card:nth-child(2) a {
    border: 1px solid #FF8D00;
    color: #FF8D00;
  }

  .prices .prices__cards .prices__card:nth-child(2) a:hover {
    background-color: #FF8D00;
    color: #FFFFFF;
  }

  .pay {
    flex-wrap: wrap;
  }

  .pay span {
    width: 100%;
    text-align: center;
  }

  .links {
    flex-direction: column;
  }

  .links a:first-child {
    margin-top: 10px;
  }

  .links a:last-child {
    margin-top: 34px;
    letter-spacing: 0.8px;
  }

  .footer {
    padding: 44px 20px 50px;
    width: 768px;
  }

  .footer .footer__items {
    width: 768px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 400px;
  }

  .footer .footer__items .company {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .footer .footer__items .programs {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .footer .footer__items .learn {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .footer .footer__items .legal {
    grid-row-start: 3;
    grid-column-start: 1;
  }

  .footer .footer__items .about {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin-top: 290px;
  }

  .footer .footer__items .social {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-content: flex-start;
    margin-top: 58px;
    padding-top: 0;
  }

  .footer .footer__items .social div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer .footer__items .social div a {
    margin-right: 38px;
  }
}
@media screen and (max-width: 375px) {
  body {
    min-width: 375px;
  }

  body .header-wrapper {
    width: 375px;
  }

  body .header {
    width: 375px;
  }

  body .posts__item {
    width: 375px;
  }

  body .content {
    width: 375px;
  }

  body aside .aside-items {
    width: 315px;
  }

  body .prices {
    width: 375px;
  }

  body .footer {
    width: 375px;
  }

  body .footer .footer__items {
    width: 375px;
  }
}